.topnav {
  height: 56px;
  background: white;
  border-bottom: 1px solid #d6d6d6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.topnav-left {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  margin-right: 24px;
  color: #1976d2;
}

.nav-links span {
  margin-right: 16px;
  cursor: pointer;
  font-size: 14px;
}

.nav-links span:hover {
  color: #1976d2;
}

.topnav-right .user {
  cursor: pointer;
  font-size: 14px;
}
.hamburger {
  cursor: pointer;
  font-size: 18px;
  margin-right: 12px;
}
